
<div class="row post-view">

	
	<div class="offset-by-one ten columns post-main">

		<% @posts.reverse.each do |post| %>
		<div class="post-user">
			<%= post.user.user_name %>
		</div>
			<%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
		<div class="post-caption">
			<%= post.caption %>
			<h6>
			posted <%= time_ago_in_words post.created_at %> ago.
			</h6>
		</div>
		<div class="comments-section">	
			<% if post.comments %>
			<div class="comments">
				<% post.comments.each do |comment| %>
					<div><%= comment.user.user_name %></div>
					 "<%= comment.content %>"
					posted <%= time_ago_in_words comment.created_at %> ago.
					<% if comment.user == current_user %>
					  <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "fo real?" } do 
					  	image_tag "http://www.drodd.com/images14/x15.jpg", :size => '10x10' end%>
        		<% end %>
				<% end %>
			<% end %>
			</div>
		<%= form_for [post, post.comments.new] do |f| %>

		<%= f.text_field :content, placeholder: 'Add a comment...'%>

		<% end %> 
		</div>
		<% end %>
	</div>

</div>

