
<div class="row post-view">

	<div class="two columns">.</div>
	<div class="eight columns post-tag">
		<% @posts.reverse.each do |post| %>
		<h3 class="username">
			<%= post.user.user_name %>
		</h3>
		<%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
		<h6 class="caption-posts">
			<%= post.user.user_name %>
			<%= post.caption %>
		</h6>
		<div class="comments">	
			<% if post.comments %>
				<% post.comments.each do |comment| %>
				<h5>
					<%= comment.user.user_name %>
				</h5>
				<div>
					<%= comment.content %>
					<% if comment.user == current_user %>
					  <%= link_to "Delete", post_comment_path(post, comment), method: :delete, data: { confirm: "fo real?" }%>
        		<% end %>
				</div>
				<% end %>
			<% end %>
		<%= form_for [post, post.comments.new] do |f| %>
		<%= f.text_field :content, placeholder: 'Add a comment...'%>

		<% end %> 
		</div>
		<% end %>
	</div>

</div>

