<!DOCTYPE html>
<html>
<head>
  <title>DelayedGram</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
  	<% flash.each do |name, msg| %>
  		<%= content_tag :div, msg, class: [:alert, alert_for(name)]%>
  		<% end %>
    <div class="navbar-header row">
    	
	    <div class="three columns">
	      <a class="navbar-brand button" href="/">Delayedgram</a>
	    </div>
	    <div class="three columns">
	        <a class="button" href="/posts/new">New Photo</a>
	    </div>
	   	<div class="three columns">
	        <a class="button" href="/posts/new">Login</a>
	    </div>
	   	<div class="three columns">
	        <a class="button" href="/posts/new">Register</a>
	    </div>
    </div>





<%= yield %>

</body>
</html>
