<!DOCTYPE html>
<html>
<head>
  <title>DelayedGram</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Padauk" rel="stylesheet">
</head>
<body>

  <div class="container">
  	<% flash.each do |name, msg| %>
  		<%= content_tag :div, msg, class: [:alert, alert_for(name)]%>
  		<% end %>
    <%= render 'layouts/navbar' %>

<%= yield %>

   </div>
</body>
</html>
